<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<springProperty scope="context" name="environment" source="fix.environment" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
		</layout>
	</appender>

	<!--Daily rolling file appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/fix-acceptor.${environment}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Daily rollover -->
			<fileNamePattern>${user.home}/fix-acceptor.%d.${environment}.log</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework">
		<level value="info" />
	</logger>
	
	<logger name="quickfix.mina">
		<level value="info" />
	</logger>
	
	<logger name="net.rickcee">
		<level value="info" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>